body {
  font-family: Calibri, helvetica, sans-serif;
  background-color: #eeeeee;
}

.well {
  background-color: #ffffff;
}

p, ul, li {
  font-size: 14px;
  color: #303751;
}


.title {
  margin-right: 100px;
  margin-left: 100px;
  color: #303751;
  font-weight: bold;
}

h1 {
  color: #172f79;
  font-size: 130%;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

h2 {
  color: #172f79;
  font-size: 115%;
  font-weight: bold;
  padding: 6px;
  text-align: center;
}

h3 {
  color: #3060f0;
  font-size: 110%;
  font-weight: bold;
}

h4 {
  font-size: 105%;
  font-weight: bold;
  font-style: italic;
}

hr {
  background-color: #fece3c;
  height: 1px;
}

#factorNote, #wafflePlot {
  color: #3060f0;
  text-align: center;
  }
